.box{
    padding: 20px 30px;
    border-radius: 5px;
}

.jumbotron {
    background-image: url('img/prism.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}